# To run this you have to update your merged dataset with the one without the null text field

In [1]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = 'all' # to print multiple outputs from the same cell
import math
import utils
import numpy as np
import pandas as pd
import scipy.stats as stats
import matplotlib.pyplot as plt
import seaborn as sns
from operator import index
from collections import defaultdict
from scipy.stats import pearsonr
from datetime import datetime
import os

In [ ]:

if (os.path.exists("./dataset/tweets_lang.csv")):
    tweets_lang_df = pd.read_csv("./dataset/tweets_lang.csv")
else:
    tweet_df = pd.read_csv("dataset/tweets.csv")
    tweet_df.drop(labels=["user_id", "retweet_count", "reply_count", "favorite_count", "num_hashtag", "num_urls", "num_mentions", "created_at"]) # dropping all the columns except tweet_id and text 
    tweet_df.dropna(subset=["text"], inplace=True) # dropping nan text fields
    tweet_df["text"] = tweet_df["text"].astype(str) # casting all elements to string
    tweets_df = tweet_df[~tweet_df.text.str.isspace()] # dropping tweets with only spaces

    utils.concurrent_language_model(tweet_df)
    tweets_lang.to_csv("./dataset/tweets_lang.csv")

you can find the merged_lang dataset here: https://unipiit-my.sharepoint.com/:x:/g/personal/m_tolloso_studenti_unipi_it/ES8Oyz1lBTlEg0s8SliWkaEBuzu3OgkmiHq-rKStIlQGbQ?e=K8QMsQ

In [2]:
tweet_df = pd.read_csv("dataset/tweets.csv")

In [7]:

tweet_df = tweet_df.head(100)
#tweet_df.drop(labels=["user_id", "retweet_count", "reply_count", "favorite_count", "num_hashtag", "num_urls", "num_mentions", "created_at"]) # dropping all the columns except tweet_id and text 
tweet_df.dropna(subset=["text"], inplace=True) # dropping nan text fields
tweet_df["text"] = tweet_df["text"].astype(str) # casting all elements to string
tweets_df = tweet_df[~tweet_df.text.str.isspace()] # dropping tweets with only spaces

utils.concurrent_language_model(tweet_df)

In [8]:
tweet_df.head()

,id,user_id,retweet_count,reply_count,favorite_count,num_hashtags,num_urls,num_mentions,created_at,text
0,509354017856950272,327746321,0,0,0,0,0,0,2019-09-11 14:53:55,"If man is a little lower than angels, then ang..."
1,583002592529121280,333722906,1,0,0,0,0,1,2020-04-01 20:27:04,"""@BestWSHHVids: how do you say these words wit..."
2,461498835362013185,2379755827,0,0,0,0,0,1,2019-05-02 13:34:31,@LOLatComedy awsome
3,528808127366692864,466226882,0,0,0,0,0,0,2019-11-04 07:17:37,Stephen Hawkins: i buchi neri non esistono se ...
4,575336690904006656,1355537995,114,0,0,1,0,1,2020-03-11 16:45:31,RT @tibbs_montris: So ready for Wednesday!